target/
!.mvn/wrapper/maven-wrapper.jar
/src/main/resources/application-local.properties
.DS_Store
.idea/
*.iml
.vscode/
bin/
.env

# Frontend build artifacts
frontend/node/
frontend/node_modules/
frontend/.next/
frontend/out/
